#calculator {
  height: 565px;
  width: 300px;
  border: 1px solid #000000;
  border-radius: 3%;
}

#screen {
  height: 80px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5%;
  margin: auto;
  margin-top: 10%;
}

.button {
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 10%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 6%;
  text-align: center;
}

#clear {
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 5%;
  height: 50px;
  width: 260px;
  margin-left: 6%;
  text-align: center;
  padding-top: 9%;
}
