#calculator {
  height: 33.5em;
  width: 19em;
  border: 1px solid #e1f2f7;
  border-radius: 3%;
  background-color: #e1f2f7;
}

#screen {
  height: 5em;
  width: 16em;
  border-radius: 5%;
  margin: auto;
  margin-top: 9%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 5px;
}

#result {
  flex: 1;
  font-size: 2em;
  padding-top: 1em;
}

#text {
  flex: 1;
  font-size: 0.9em;
  margin-top: 1em;
}

.button {
  color: white;
  background-color: #ef0d50;
  border-radius: 10%;
  margin-top: 10%;
  height: 3.8em;
  width: 3.8em;
  margin-left: 6.8%;
  cursor: pointer;
  border: none;
}

.button:hover,
#clear:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#clear {
  color: white;
  border-radius: 5%;
  margin-top: 10%;
  height: 3em;
  width: 20em;
  margin-left: 1.5em;
  text-align: center;
  background-color: #ef0d50;
  cursor: pointer;
  border: none;
}

/* .row {
  display: flex;
} */
